div{
  padding: 0.5%;  
}

.card {
  border-style: inset;
  border-radius: 5%;
  border-color: #000;
  float: left;
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 1);
  width: 400px;
  height: 500px;
  margin: 5px;
  text-align: center;
  font-family: arial;
  padding-left: 1%;
  padding-top: 0.5%;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

img {
  width: 50%;
  height: 50%;
}